<section class="py-16 bg-blue-900 text-white text-center">
    <h2 class="text-3xl font-bold">Get in Touch</h2>
    <p class="mt-4 text-lg">I'm open to freelance work, collaborations, and open-source contributions.</p>
    
    <div class="p-4">
        <form 
        [formGroup]="contactForm"
        (ngSubmit)="handleSubmit()"
        class="mt-6 max-w-lg mx-auto bg-white text-black p-6 rounded-lg shadow-md">
        <!-- Email Field -->
        <div class="mb-4">
            <label for="email" class="block text-left font-semibold mb-2 text-gray-700">Your Email</label>

            <div class="font-bold text-red-500" *ngIf="getControlError('email', 'required') && contactForm.get('email')?.touched">
                Email is required.
              </div>
              <div class="font-bold text-red-500" *ngIf="getControlError('email', 'email') && contactForm.get('email')?.touched">
                Enter a valid email address.
              </div>
            <input type="email" id="email" name="email" required formControlName="email"
                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>

        <!-- Subject Field -->
        <div class="mb-4">
            <label for="subject" class="block text-left font-semibold mb-2 text-gray-700">Subject</label>
            <div class="font-bold text-red-500" *ngIf="getControlError('subject', 'required') && contactForm.get('subject')?.touched">
                Subject is required.
              </div>
            <input type="text" id="subject" name="subject" required formControlName="subject"
                class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>

        <!-- Content/Message Field -->
        <div class="mb-4">
            <label for="content" class="block text-left font-semibold mb-2 text-gray-700">Message</label>
            <div 
            class="font-bold text-red-500"
            *ngIf="getControlError('message', 'required') && contactForm.get('message')?.touched">
                Message is required.
              </div>
              <div 
              class="font-bold text-red-500"
              *ngIf="getControlError('message', 'hasHtml') && contactForm.get('message')?.touched">
                HTML tags are not allowed in the message.
              </div>
            <textarea id="content" name="content" rows="5" required formControlName="message"
                    class="w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"></textarea>
        </div>

        <!-- Submit Button -->
        <div lass="mb-4">
            <button 
            type="submit" 
            [disabled]="contactForm.invalid"
            class="mt-6 bg-blue-500 hover:bg-blue-700 text-white font-semibold py-3 px-8 rounded-full transition-all">
                Send Message
            </button>
        </div>
        </form>
    </div>
</section>

